/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/space-mono-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* === TYPOGRAPHY === */
  --ff-main: "Space Mono", sans-serif;
  --fw-main: 700;
  --fs-xsm: 0.8125rem;
  --fs-sm: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem;
  --fs-xlg: 2rem;
  --fs-xxlg: 3rem;
  --fs-fluid: clamp(
    var(--fs-xlg),
    1.647887323943662rem + 1.5023474178403755vw,
    var(--fs-xxlg)
  );

  --fs-output-span: var(--fs-xsm);
  --fs-form-label: var(--fs-sm);
  --fs-output-label: var(--fs-sm);
  --fs-error-msg: var(--fs-sm);
  --fs-button-primary: var(--fs-md);
  --fs-form-input: var(--fs-lg);
  --fs-output: var(--fs-fluid);

  /* === COLORS === */
  --clr-green-400: hsl(172, 67%, 45%);
  --clr-green-750: hsl(183, 79%, 24%);
  --clr-green-900: hsl(183, 100%, 15%);
  --clr-grey-50: hsl(189, 47%, 97%);
  --clr-grey-200: hsl(185, 41%, 84%);
  --clr-grey-400: hsl(184, 14%, 56%);
  --clr-grey-500: hsl(186, 14%, 43%);
  --clr-orange-400: hsl(13, 70%, 60%);
  --clr-white: hsl(0, 100%, 100%);

  /* === BACKGROUNDS === */
  --clr-bg-main: var(--clr-grey-200);
  --clr-bg-bill-container: var(--clr-white);
  --clr-bg-output-container: var(--clr-green-900);

  --clr-bg-form-input: var(--clr-grey-50);
  --clr-bg-form-input-radio: var(--clr-green-900);
  --clr-bg-form-input-radio-active: var(--clr-green-400);
  --clr-bg-form-input-radio-custom: var(--clr-grey-50);

  --clr-bg-button-primary: var(--clr-green-400);
  --clr-bg-button-primary-disabled: var(--clr-green-750);

  /* === BORDERS === */
  --clr-border-input-focused: var(--clr-green-400);
  --clr-border-input-error: var(--clr-orange-400);

  /* === TEXT === */
  --clr-text-form-label: var(--clr-grey-500);
  --clr-text-form-input-placeholder: var(--clr-green-200);

  --clr-text-form-input: var(--clr-green-900);
  --clr-text-form-input-radio: var(--clr-white);
  --clr-text-form-input-radio-active: var(--clr-green-900);
  --clr-text-form-input-radio-custom: var(--clr-grey-500);
  --clr-text-form-error: var(--clr-orange-400);

  --clr-text-button-primary: var(--clr-green-900);

  /* === OUTPUT === */
  --clr-text-output-label: var(--clr-white);
  --clr-text-output-span: var(--clr-grey-400);
  --clr-text-output-amounts: var(--clr-green-400);
}

/* === CSS RESET - ANDY BELL === */

/* https://piccalil.li/blog/a-modern-css-reset 8?

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* === UTILITY CLASSES === */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.wrapper {
  display: grid;
  background-color: var(--clr-bg-bill-container);
  width: min(23.4375rem, 100%);
  margin: 0 auto;
  border-radius: 1.5rem;
  padding-inline: 1.5rem;
  padding-block: 2rem;
  gap: 2rem;

  @media (width >= 48rem) {
    width: min(38rem, 100%);
    padding-inline: 5rem;
    padding-block: 3rem;
    gap: 2.5rem;
  }

  @media (width >= 64rem) {
    width: min(57.5rem, 100%);
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 2rem;
    padding-block: 2rem;
    gap: 3rem;
  }
}

body {
  background-color: var(--clr-bg-main);
  font-family: var(--ff-main);
  font-weight: var(--fw-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 0 auto;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (width >= 48rem) {
    gap: 1.5rem;
  }

  @media (width >= 64rem) {
    gap: 2.5rem;
  }
}

.form-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 0.5rem;
}

.form-label {
  font-size: var(--fs-form-label);
  color: var(--clr-text-form-label);
}

.error-message {
  font-size: var(--fs-error-msg);
  color: var(--clr-text-form-error);
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 1.125rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.form-input {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 0.3125rem;
  background: var(--clr-bg-form-input);
  padding-inline-start: 2rem;
  padding-inline-end: 1.125rem;
  padding-block: 0.5rem;
  font-size: var(--fs-form-input);
  color: var(--clr-text-form-input);
  text-align: right;
}

.form-input:focus-visible {
  border-color: var(--clr-border-input-focused);
  box-shadow: 0 0 0 2px var(--clr-border-input-focused);
  outline: none;
}

.form-input::placeholder {
  text-align: right;
  color: var(--clr-text-form-input-placeholder);
  opacity: 30%;
}

/* === TIP FIELDSET === */
.tip-fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 0;
  margin-block-end: 0.5rem;
}

.tips {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;

  @media (width >= 48rem) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.tips-label {
  width: 100%;
  background: var(--clr-bg-form-input-radio);
  font-size: var(--fs-form-input);
  color: var(--clr-text-form-input-radio);
  text-align: center;
  padding-block: 0.5rem;
  border-radius: 0.3125rem;
  border: 2px solid var(--clr-bg-form-input-radio);
  line-height: 1;
  cursor: pointer;
}

.custom {
  background: var(--clr-bg-form-input-radio-custom);
  border-color: var(--clr-bg-form-input-radio-custom);
  color: var(--clr-text-form-input-radio-custom);
}

.tips-label:has(> input[type="radio"]:checked),
.tips-label:has(> input[type="radio"]:focus-visible) {
  background: var(--clr-bg-form-input-radio-active);
  color: var(--clr-text-form-input-radio-active);
  border-color: var(--clr-bg-form-input-radio-active);
}

.tip-label-custom {
  position: relative;
}

.custom-tip-input {
  display: none;
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  border-radius: 0.3125rem;
  border: 2px solid transparent;
  padding: 0.5rem 0.75rem;
  text-align: right;
  background: var(--clr-bg-form-input);
  color: var(--clr-text-form-input);
  font-size: var(--fs-form-input);
  z-index: 1;
}

.custom-text {
  transition: opacity 0.15s;
}

.tip-label-custom:has(> input[type="radio"]:checked) .custom-tip-input {
  display: block;
}

.tip-label-custom:has(> input[type="radio"]:checked) .custom-text {
  opacity: 0;
}

/* === OUTPUT === */
.output {
  background-color: var(--clr-bg-output-container);
  border-radius: 1rem;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  display: grid;
  gap: 1.5rem;

  @media (width >= 48rem) {
    padding-inline: 3rem;
    padding-block-start: 3.5rem;
    padding-block-end: 2.5rem;
    gap: 2.5rem;
  }

  @media (width >= 64rem) {
    padding-inline: 2.5rem;
    gap: 3rem;
  }
}

.output-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-label {
  display: grid;
}

.output-label span:first-child {
  font-size: var(--fs-output-label);
  color: var(--clr-text-output-label);
}

.output-label span:last-child {
  font-size: var(--fs-output-span);
  color: var(--clr-text-output-span);
}

.output-amount {
  font-size: var(--fs-output);
  color: var(--clr-text-output-amounts);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
